<?xml version="1.0"?>
<config>
	<modules>
		<Magentix_Axepta>
			<version>1.0.0</version>
		</Magentix_Axepta>
	</modules>
	<global>
		<models>
			<axepta>
				<class>Magentix_Axepta_Model</class>
			</axepta>
		</models>
		<resources>
			<axepta_setup>
				<setup>
					<module>Magentix_Axepta</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</axepta_setup>
		</resources>
		<blocks>
			<axepta>
				<class>Magentix_Axepta_Block</class>
			</axepta>
		</blocks>
		<helpers>
			<axepta>
				<class>Magentix_Axepta_Helper</class>
			</axepta>
		</helpers>
	</global>
	<frontend>
	   <routers>
	       <axepta>
	           <use>standard</use>
	           <args>
	               <module>Magentix_Axepta</module>
	               <frontName>axepta</frontName>
	           </args>
	       </axepta>
	   </routers>
		<translate>
			<modules>
				<Magentix_Axepta>
					<files>
						<default>Magentix_Axepta.csv</default>
					</files>
				</Magentix_Axepta>
			</modules>
		</translate>
	</frontend>
	<default>
		<payment>
			<axepta>
				<active>0</active>
				<sort_order>0</sort_order>
				<title>BNP Secure Online Payment</title>
				<allowspecific>0</allowspecific>
				<model>axepta/method_cc</model>
			</axepta>
		</payment>
	</default>
</config>
